@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;

	--background: linear-gradient(to bottom right, #ffffff, #a3a3a1 75%, #666664);
	--foreground: oklch(0% 0 0);
	--card: oklch(89.072% 0.00326 15.507);
	--card-foreground: oklch(25.384% 0.004 308.04);
	--primary: oklch(42.829% 0.17582 260.245);
	--primary-foreground: oklch(31.317% 0.00004 271.152);
	--secondary: oklch(20.835% 0.09876 265.827 / 0.699);
	--secondary-foreground: oklch(48.206% 0.00512 16.746);
	--accent: oklch(0.75 0.15 20);
	--accent-foreground: oklch(1 0 0);
	--muted: oklch(0.95 0.01 310);
	--muted-foreground: oklch(39.959% 0.00359 307.926);
	--border: oklch(67.13% 0.00318 307.579);
	--input: oklch(68.26% 0.00627 307.934);
	--ring: oklch(42.829% 0.17582 260.245);
}

.dark {
	--background: linear-gradient(to bottom right, #1a001f, #2e003e 75%, #3d0070);
	--foreground: oklch(0.98 0.005 300);
	--card: oklch(29.777% 0.11804 320.858);
	--card-foreground: oklch(0.9 0.01 310);
	--primary: oklch(68.718% 0.23887 351.857);
	--primary-foreground: oklch(83.127% 0.0022 14.838);
	--secondary: oklch(0.7 0.2 350);
	--secondary-foreground: oklch(65.996% 0.00008 271.152);
	--accent: oklch(0.75 0.15 20);
	--accent-foreground: oklch(1 0 0);
	--muted: oklch(0.3 0.02 300);
	--muted-foreground: oklch(0.7 0.02 310);
	--border: oklch(31.152% 0.11495 308.224);
	--input: oklch(0.25 0.02 310);
	--ring: oklch(68.718% 0.23887 351.857);
}
.bg-gradient {
	background-image: var(--background);
}
@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
	font-family: "merriMedium";
	src: url("/fonts/merriweather/Merriweather_36pt-regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "merriBold";
	src: url("/fonts/merriweather/Merriweather_96pt-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "cairoMedium";
	src: url("/fonts/cairo/Cairo-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "cairoBold";
	src: url("/fonts/cairo/Cairo-Bold.ttf") format("truetype");
}

.imageDiv {
	background-image: conic-gradient(transparent 80%, var(--primary));
	animation: imageAnimate 6s linear infinite;
}
.projectContainer:hover .imageDiv {
	animation-play-state: paused;
}

@keyframes imageAnimate {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}
